<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in movies">{{item}}</li>
        </ul>
    </div>

    <div id="newApp">
        <ul>
            <li v-for="item in music">{{item}}</li>
        </ul>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: '你好啊',
                movies: ['海王', '星际穿越','火影忍者']
            }
        })

        const newApp=new Vue({
            el:'#newApp',
            data:{
                music:['第一次爱的人','That’s girl','巴赫旧约']
            }
        })
    </script>
</body>

</html>